@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    backdrop-filter: blur(10px);
    font-family: "Dosis", sans-serif;
}

#menu {
    background: #f5f5f5;
    width: 260px;
    height: 95.7vh;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#menu>#menu_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu>#menu_content>.img_box {
    text-align: center;
    margin-bottom: 40px;
}

#menu>#menu_content>.img_box>img {
    width: 90px;
}

#menu>#menu_content>.list {
    list-style: none;
    width: 100%;
    overflow-x: hidden;
}
#menu>#menu_content>.list>.item>.other-list{
    height: 0;
    overflow: hidden;
}
#menu>#menu_content>.list>.item.active>.other-list{
    height: fit-content !important;
    /* position: relative; */
    transition: 2s;
}
#menu>#menu_content>.list .item {
    min-height: 50px;
    transition: .5s;
    white-space: nowrap;
}
#menu>#menu_content>.list>.item,
.logout {
    background-color: #f5f5f5;
    min-height: 50px;
    width: 230px;
    font-weight: 600;
    font-size: 17px;
}
#menu>#menu_content>.list>.item>.item-header:hover>a {
    margin-left: 5px;
}
#menu>#menu_content>.list>.item>.item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
}

#menu>#menu_content>.list>.item>.other-list>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #menu>#menu_content>.list .item.active>.item-header>a, */
#menu>#menu_content>.list .item>a {
    margin-left: 20px;
}

#menu>#menu_content>.list>.item a,
.logout>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    color: #3663ad;
    text-transform: capitalize;
    text-decoration: none;
    width: 85%;
    transition: .5s;
    height: 100%;
}

#menu a>i {
    font-size: 19.5px !important;
}

#menu a>i::before {
    font-weight: 800 !important;
}

#menu>#menu_content>.list>.item a>p {
    margin: 0 auto;
}

#menu>#menu_content>.list>.item a+i {
    color: #3663ad;
    transition: .5s;
}

#menu>#menu_content>.list>.item {
    border-left: 5px solid transparent;
    padding-left: 10px;
}

#menu>#menu_content>.list>.item.active {
    border-left: 5px solid #3663ad;
}

#menu>#menu_content>.list>.item.active a+i {
    transform: rotate(90deg);
}

.logout {
    position: absolute;
    bottom: 10px;
    transition: .5s;
    border-radius: 10px;
    border: 1px solid #3663ad;
}

.logout:hover {
    background: #3663ad;
    bottom: 20px;
}

.logout:hover>a {
    color: #eee !important;
}

.logout>a {
    justify-content: space-around;
}
/* scroll */
#menu::-webkit-scrollbar {
    width: 8px;
}

#menu::-webkit-scrollbar-track {
    background: #f5f5f5;
}

#menu::-webkit-scrollbar-thumb {
    background-color: #3663ad;
    border-radius: 10px;
}